.responseText {
  white-space: pre-wrap;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  text-align: left;
}
  
.responseText::after {
  content: "|";
  color: var(--border-color);
  margin-left: 5px;
  animation: blink 1s step-end infinite;
}
  
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  
  .done::after {
    content: "";
    animation: none;
  }
  