.wrapper {
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  width: 350px;
  min-height: 600px;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--hover-color);
  box-shadow: var(--hover-shadow);
  display: grid;
  gap: 1rem;
  text-align: center;
  align-items: center;
  justify-content: space-around;
}

.container::before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--gradient);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%; 
  height: 250px;
  margin: 0 auto;
}

.input {
  display: block;
  width: 90%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  background-color: var(--bg-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  margin: 0 auto;
}

.input:focus {
  border-color: var(--green);
  outline: none;
  box-shadow: var(--green-shadow);
}

.input:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--bg-color) inset !important;
  -webkit-text-fill-color: #000 !important;
}

.error {
  color: red;
  text-align: center;
  max-width: 240px;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin: 0 auto;
}