@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik/Rubik-VariableFont_wght.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/rubik/Rubik-Italic-VariableForn_wght.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html{
  scrollbar-color: var(--border-color) var(--bg-color);
}

:root {
  --bg-color: #F8F3EC;
  --hover-color: #FFF0E0;
  --gradient: linear-gradient(to bottom right, #F48A3B, #D4657F);
  --gradient2: linear-gradient(to right, #f48a3b, #d4657f);
  --gradient3: linear-gradient(135deg, #f48a3b, #d46557);
  --shadow-color-active: rgb(212, 101, 87);
  --shadow: 0 4px 12px rgba(244, 138, 59, 0.3);
  --hover-shadow: 0 6px 16px rgba(212, 101, 87, 0.4);
  --active-shadow: 0 3px 10px rgba(212, 101, 87, 0.2);
  --accent-color: #FFAB40;
  --border-color: #ff914d;
}

* {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: var(--bg-color);
}

.gradientText {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradientText2 {
  background: var(--gradient2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

::selection {
  color: white;
  background-color: var(--border-color);
}


.button {
  padding: 0.6rem 1.2rem;
  background: var(--gradient3);
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: var(--shadow);
  z-index: 111;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: var(--hover-shadow);
}

.button:active {
  transform: scale(0.98);
  box-shadow: var(--active-shadow);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

