.avatarWrapper {
  position: relative;
  display: inline-block;
}

.avatarClickable {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  width: 120px;
  height: 120px;
  position: relative;
}

.avatarImage {
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 3px solid transparent;
  background: var(--gradient);
  background-clip: padding-box;
}


.avatarImage:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}


.loaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  border-radius: 50%;
  color: var(--text-color);
}

.uploadText {
  color: var(--text-color-sub);
  width: 7vw;
  text-align: center;
}