.dropZone {
  width: 45%;
}

.dropZoneBox {
  border: 3px dashed var(--border-color);
  background-color: var(--bg-color);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.dropZoneBox:hover {
  background-color: var(--hover-color);
}

.dropZoneInput p {
  line-height: 1.5;
  font-weight: 500;
}

.dropZoneImageWrapper {
  margin: 1rem 0;
}

.dropZoneImage {
  width: 60px;
  height: 60px;
  color: var(--accent-color);
  transition: transform 0.2s ease;
}

.dropZoneImage:hover {
  transform: translateY(-2px);
}

.previewSection {
  margin-top: 2rem;
  padding: 1.5rem;
  border: 2px dashed var(--border-color);
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.previewImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.previewLabel {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .dropZone {
    width: 70%;
  }

  .dropZoneBox {
    padding: 1.2rem;
    height: 30vh;
  }

  .dropZoneImage {
    width: 2.5rem;
    height: 2.5rem;
  }

  .dropZoneInput p {
    font-size: 0.8rem; /* уменьшено здесь */
  }
}

@media (max-width: 600px) {
  .dropZone {
    width: 100%;
  }

  .dropZoneBox {
    padding: 0.8rem;
    height: 30vh;
    min-height: 140px;
  }

  .dropZoneImage {
    width: 2rem;
    height: 2rem;
  }

  .dropZoneInput p {
    font-size: 0.7rem; /* ещё меньше здесь */
  }

  .previewSection {
    margin-top: 1rem;
    padding: 0.8rem;
  }

  .previewLabel {
    font-size: 0.8rem; /* немного уменьшено */
  }
}
